<div class='blog-article'>
  <h1 class='blog-article-title'>{{article.title}}</h1>
  <div class='meta'>
    <time>{{moment-format article.publishedAt 'MMM Do, YYYY'}}</time>
  </div>
  {{#if article.mainImageSrc}}
    <img class="blog-article-main-image" src={{article.mainImageSrc}} alt={{article.title}}>
  {{/if}}
  <article>{{format-markdown article.body}}</article>
</div>