<div class='education-item'>
  <div class='logo'>
    <img src='/assets/images/logo-{{slug}}.png' alt=''>
  </div>
  <div class='where'>
    <h4 class={{slug}}>{{name}}</h4>
    <p>{{where}}</p>
    <p>
      {{yield}}
    </p>
  </div>
  <div class='when'>{{from}} - {{to}}</div>
</div>

