<li><a class='social twitter' target='_blank' href='https://twitter.com/chrislopresto'>{{unbound fa-icon 'twitter-square'}} @chrislopresto</a></li>
<li><a class='social github' target='_blank' href='https://github.com/chrislopresto'>{{unbound fa-icon 'github-square'}} chrislopresto</a></li>
<li><a class='social linkedin' target='_blank' href='https://www.linkedin.com/in/chrislopresto/'>{{unbound fa-icon 'linkedin-square'}} chrislopresto</a></li>
<li><a class='social' href='#'>{{unbound fa-icon 'phone-square'}} +1-732-470-7796</a></li>
<li><a class='social' href='mailto:chris@chrislopresto.com'>{{unbound fa-icon 'envelope'}} chris@chrislopresto.com</a></li>
<li><br>55 W 74th St, Apt 1C<br>New York, NY 10023</li>