<h1 id='title'>Chris LoPresto</h2>

<div class='spacer'></div>

<h3>Contact</h3>

<ul class='social-items'>
  <li><a class='social twitter' target='_blank' href='https://twitter.com/chrislopresto'>{{fa-icon 'twitter-square'}}</a></li>
  <li><a class='social facebook' target='_blank' href='https://facebook.com/chrislopresto'>{{fa-icon 'facebook-square'}}</a></li>
  <li><a class='social instagram' target='_blank' href='https://instagram.com/chrislopresto'>{{fa-icon 'instagram'}}</a></li>
  <li><a class='social github' target='_blank' href='https://github.com/chrislopresto'>{{fa-icon 'github-square'}}</a></li>
  <li><a class='social rdio' target='_blank' href='https://www.rdio.com/people/chrislopresto/'>{{fa-icon 'music'}}</a></li>
  <li><a class='social linkedin' target='_blank' href='https://www.linkedin.com/in/chrislopresto/'>{{fa-icon 'linkedin-square'}}</a></li>
</ul>

<hr>

© 2014 Chris LoPresto

{{outlet}}
