<div class='resume'>

  <div class='header'>
    <div class='name'>
      <span class='first-name'>Chris</span> <span class='last-name'>LoPresto</span>
    </div>
    <div class='callout'>
      As of {{moment now 'YYYY.MM.DD' ''}}
    </div>
  </div>

  <div class='resume-body'>
    <ul class='social-items'>
      <li><a class='social twitter' target='_blank' href='https://twitter.com/chrislopresto'>{{unbound fa-icon 'twitter-square'}} @chrislopresto</a></li>
      <li><a class='social github' target='_blank' href='https://github.com/chrislopresto'>{{unbound fa-icon 'github-square'}} chrislopresto</a></li>
      <li><a class='social linkedin' target='_blank' href='https://www.linkedin.com/in/chrislopresto/'>{{unbound fa-icon 'linkedin-square'}} chrislopresto</a></li>
      <li><a class='social' href='#'>{{unbound fa-icon 'phone-square'}} +1-347-470-7796</a></li>
      <li><a class='social' href='mailto:chris@chrislopresto.com'>{{unbound fa-icon 'envelope'}} chris@chrislopresto.com</a></li>
      <li><br>55 W 74th St, Apt 1C<br>New York, NY 10023</li>
    </ul>

    <h1>Introduction</h1>
    <p>
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
    </p>

    <h2>Work</h2>
    <p>
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
    </p>

    <h3>Thing</h3>
    <p>
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
    </p>

    <h3>Thing</h3>
    <p>
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
      Many things. Many things. Many things. Many things. Many things. Many things.
    </p>

    <h3>Education</h3>
    <div class='education-item'>
      <div class='logo'>
        <img src='/assets/images/logo_rutgers.png' alt=''>
      </div>
      <div class='where'>
        <h4 class='rutgers'>Rutgers University</h6>
        <p>New Brunswick, NJ</p>
        <p>
          Bachelor of Science in <strong>Computer Science</strong><br>
          Bachelor of Music (piano) in <strong>Jazz Studies</strong>
        </p>
      </div>
      <div class='when'>1998 - 2002</div>
    </div>
    <div class='education-item'>
      <div class='logo'>
        <img src='/assets/images/logo_salesianum.png' alt=''>
      </div>
      <div class='where'>
        <h4 class='salesianum'>Salesianum School</h4>
        <p>Wilmington, DE</p>
        <p>
          <em>Tenui Nec Dimittam</em>
        </p>
      </div>
      <div class='when'>1994 - 1998</div>
    </div>
  </div>

</div>
