<div class='site'>
  <div class='menu-spacer'>
    <div class='site-content'>
      <div class='menu'>
        <div class='menu-title'>{{#link-to 'index'}}Chris LoPresto{{/link-to}}</div>
        <ul class='site-sections'>
          <li>{{#link-to 'index'}}{{fa-icon 'home'}}About{{/link-to}}</li>
          <li>{{#link-to 'blog'}}{{fa-icon 'paragraph'}}Blog{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='site-content'>
    {{outlet}}
  </div>

  <div class='site-content'>
    <hr>
    <ul class='social-items'>
      <li><a class='social twitter' target='_blank' href='https://twitter.com/chrislopresto'>{{fa-icon 'twitter-square'}}</a></li>
      <li><a class='social facebook' target='_blank' href='https://facebook.com/chrislopresto'>{{fa-icon 'facebook-square'}}</a></li>
      <li><a class='social instagram' target='_blank' href='https://instagram.com/chrislopresto'>{{fa-icon 'instagram'}}</a></li>
      <li><a class='social github' target='_blank' href='https://github.com/chrislopresto'>{{fa-icon 'github-square'}}</a></li>
      <li><a class='social linkedin' target='_blank' href='https://www.linkedin.com/in/chrislopresto/'>{{fa-icon 'linkedin-square'}}</a></li>
      <li>{{#link-to 'resume' class='social'}}{{fa-icon 'briefcase'}}{{/link-to}}</li>
    </ul>
    <div class='footer'>{{fa-icon 'copyright'}} {{moment now 'YYYY' ''}} Chris LoPresto</div>
  </div>
</div>
